.child>input{
  width: 250px;
  padding: 18px;
  border-radius: 14px;
  margin: 14px;
}
.child{
  display: grid;
  align-items: center;
  justify-content: center;
}
.child>label{
  font-size: 25px;
  margin: 14px;
}
.child>button{
  padding: 18px;
  margin: 14px;
  background-color: rgb(36, 145, 109);
  color: black;
  border: none;
  font-size: 18px;
  border-radius: 8px;
}
.Show{
  background-color: beige;
  text-align: center;
  margin-top: 25px;
}